extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.outer-container
		section.course-format(style="background-image: url(img/bg-course-format.jpg)")
			.container.container--course-format
				h2.section-title.section-title--course-format ФОРМАТ КУРСА
				.course-format__subtitle Курс состоит из 5 блоков, включающих видеозаписи, домашние задания и дополнительные материалы
				.course-format__desc По мере прохождения курса, ты будешь получать доступ к новым урокам. Весь курс состоит из 5 блоков, каждый урок заканчивается домашним заданием. Ты откроешь следующий, только после удачной сдачи ДЗ. Так я буду уверен в том, что ты усвоил материал. По ходу обучения ты будешь чувствовать себя все увереннее, но мы все равно пройдем весь курс на демонстрационном счете, самоуверенность - враг трейдера, а нам ни к чему сливать депозит, правда?
				.course-format-advantages
					.course-format-advantage
						.course-format-advantage__pic
							img(src="img/course-format-advantages/1.svg", alt="")
						.course-format-advantage__info
							.course-format-advantage__name 4 Недели
							.course-format-advantage__desc В среднем
					.course-format-advantages__delimiter
					.course-format-advantage
						.course-format-advantage__pic
							img(src="img/course-format-advantages/2.svg", alt="")
						.course-format-advantage__info
							.course-format-advantage__name 8 Часов
							.course-format-advantage__desc Видео
					.course-format-advantages__delimiter
					.course-format-advantage
						.course-format-advantage__pic
							img(src="img/course-format-advantages/3.svg", alt="")
						.course-format-advantage__info
							.course-format-advantage__name 5 Блоков
							.course-format-advantage__desc В курсе
					.course-format-advantages__delimiter
					.course-format-advantage
						.course-format-advantage__pic
							img(src="img/course-format-advantages/4.svg", alt="")
						.course-format-advantage__info
							.course-format-advantage__name 5 Заданий
							.course-format-advantage__desc С проверкой
					.course-format-advantages__delimiter
					.course-format-advantage
						.course-format-advantage__pic
							img(src="img/course-format-advantages/5.svg", alt="")
						.course-format-advantage__info
							.course-format-advantage__name Шпаргалка
							.course-format-advantage__desc В каждом уроке

				.course-format-flex
					.course-format-flex__left
						h3.course-format-h3 Блоки Курса:
						.cf-accordeon
							.cf-accordeon-item
								.cf-accordeon-item__top
									.cf-accordeon-item__heading Блок 1
								.cf-accordeon-item__content
									.cf-accordeon-cols
										.cf-accordeon-cols__col
											.cf-accordeon__list-title  Теория:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Стратегия торговли №1
												li.cf-accordeon-list__li 2. Консультации по портфелю
										.cf-accordeon-cols__col
											.cf-accordeon__list-title Практика:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Домашнее задание
												li.cf-accordeon-list__li 2. Методические материалы
							.cf-accordeon-item.cf-accordeon-item--active
								.cf-accordeon-item__top
									.cf-accordeon-item__heading Блок 2
								.cf-accordeon-item__content
									.cf-accordeon-cols
										.cf-accordeon-cols__col
											.cf-accordeon__list-title  Теория:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Стратегия торговли №1
												li.cf-accordeon-list__li 2. Консультации по портфелю
										.cf-accordeon-cols__col
											.cf-accordeon__list-title Практика:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Домашнее задание
												li.cf-accordeon-list__li 2. Методические материалы
							.cf-accordeon-item
								.cf-accordeon-item__top
									.cf-accordeon-item__heading Блок 3
								.cf-accordeon-item__content
									.cf-accordeon-cols
										.cf-accordeon-cols__col
											.cf-accordeon__list-title  Теория:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Стратегия торговли №1
												li.cf-accordeon-list__li 2. Консультации по портфелю
										.cf-accordeon-cols__col
											.cf-accordeon__list-title Практика:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Домашнее задание
												li.cf-accordeon-list__li 2. Методические материалы
							.cf-accordeon-item
								.cf-accordeon-item__top
									.cf-accordeon-item__heading Блок 4
								.cf-accordeon-item__content
									.cf-accordeon-cols
										.cf-accordeon-cols__col
											.cf-accordeon__list-title  Теория:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Стратегия торговли №1
												li.cf-accordeon-list__li 2. Консультации по портфелю
										.cf-accordeon-cols__col
											.cf-accordeon__list-title Практика:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Домашнее задание
												li.cf-accordeon-list__li 2. Методические материалы
							.cf-accordeon-item
								.cf-accordeon-item__top
									.cf-accordeon-item__heading Блок 5
								.cf-accordeon-item__content
									.cf-accordeon-cols
										.cf-accordeon-cols__col
											.cf-accordeon__list-title  Теория:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Стратегия торговли №1
												li.cf-accordeon-list__li 2. Консультации по портфелю
										.cf-accordeon-cols__col
											.cf-accordeon__list-title Практика:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Домашнее задание
												li.cf-accordeon-list__li 2. Методические материалы
					.course-format-flex__right
						h3.course-format-h3 В курсе:
						ul.course-format-in-course
							li.course-format-in-course__item  ВИДЕОУРОКИ В ЗАПИСИ;
							li.course-format-in-course__item  ПРОВЕРка домашних заданий;
							li.course-format-in-course__item ЧАТ С ОДНОКУРСНИКАМИ;
							li.course-format-in-course__item Литература для самостоятельного изучения.