extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.outer-container
		section.course-format#prog
			img.sformat-art.sformat-art--1(src="img/sformat-art-1.png", alt="")
			img.sformat-art.sformat-art--2(src="img/sformat-art-2.png", alt="")
			img.sformat-art.sformat-art--3(src="img/sformat-art-3.png", alt="")
			.container.container--course-format
				h2.section-title.section-title--course-format ПРОГРАММА
				.course-format__subtitle Курс состоит из 5 блоков, включающих видеозаписи, домашние задания и дополнительные материалы
				.course-format__desc По мере прохождения курса, Вы будете получать доступ к новым урокам. Весь курс состоит из 5 блоков, каждый урок заканчивается домашним заданием. Вы откроете следующий, только после удачной сдачи ДЗ. Так я буду уверен в том, что Вы усвоили материал. По ходу обучения Вы будете чувствовать себя все увереннее, но мы все равно пройдем весь курс на демонстрационном счете, самоуверенность - враг трейдера, а нам ни к чему сливать депозит, правда?
				.course-format-advantages
					.course-format-advantage
						.course-format-advantage__pic
							img(src="img/course-format-advantages/1.svg", alt="")
						.course-format-advantage__info
							.course-format-advantage__name 4 Недели
							.course-format-advantage__desc В среднем
					.course-format-advantages__delimiter
					.course-format-advantage
						.course-format-advantage__pic
							img(src="img/course-format-advantages/2.svg", alt="")
						.course-format-advantage__info
							.course-format-advantage__name 5 Часов
							.course-format-advantage__desc Видео
					.course-format-advantages__delimiter
					.course-format-advantage
						.course-format-advantage__pic
							img(src="img/course-format-advantages/3.svg", alt="")
						.course-format-advantage__info
							.course-format-advantage__name 5 Блоков
							.course-format-advantage__desc В курсе
					.course-format-advantages__delimiter
					.course-format-advantage
						.course-format-advantage__pic
							img(src="img/course-format-advantages/4.svg", alt="")
						.course-format-advantage__info
							.course-format-advantage__name 5 Заданий
							.course-format-advantage__desc С проверкой
					.course-format-advantages__delimiter
					.course-format-advantage
						.course-format-advantage__pic
							img(src="img/course-format-advantages/5.svg", alt="")
						.course-format-advantage__info
							.course-format-advantage__name Шпаргалка
							.course-format-advantage__desc В каждом уроке

				.course-format-flex
					.course-format-flex__left
						h3.course-format-h3 Блоки Курса:
						.cf-accordeon
							.cf-accordeon-item
								.cf-accordeon-item__top.js-cf-accordeon-item__top
									.cf-accordeon-item__heading Блок 1
								.cf-accordeon-item__content
									.cf-accordeon-cols
										.cf-accordeon-cols__col
											.cf-accordeon__list-title  Теория:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Основы технического анализа
												li.cf-accordeon-list__li 2. Индикаторы и их применение
												li.cf-accordeon-list__li 3. Инструменты трейдера в TradingView
										.cf-accordeon-cols__col
											.cf-accordeon__list-title Практика:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Домашнее задание
												li.cf-accordeon-list__li 2. Методические материалы
							.cf-accordeon-item
								.cf-accordeon-item__top.js-cf-accordeon-item__top
									.cf-accordeon-item__heading Блок 2
								.cf-accordeon-item__content
									.cf-accordeon-cols
										.cf-accordeon-cols__col
											.cf-accordeon__list-title  Теория:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Стратегия торговли №1
												li.cf-accordeon-list__li 2. Консультации по портфелю
										.cf-accordeon-cols__col
											.cf-accordeon__list-title Практика:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Домашнее задание
												li.cf-accordeon-list__li 2. Методические материалы
							.cf-accordeon-item
								.cf-accordeon-item__top.js-cf-accordeon-item__top
									.cf-accordeon-item__heading Блок 3
								.cf-accordeon-item__content
									.cf-accordeon-cols
										.cf-accordeon-cols__col
											.cf-accordeon__list-title  Теория:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Стратегия торговли №2
												li.cf-accordeon-list__li 2. Выходы из убыточной позиции
												li.cf-accordeon-list__li 3. Построение инвестиционной стратегии
										.cf-accordeon-cols__col
											.cf-accordeon__list-title Практика:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Домашнее задание
												li.cf-accordeon-list__li 2. Методические материалы
							.cf-accordeon-item
								.cf-accordeon-item__top.js-cf-accordeon-item__top
									.cf-accordeon-item__heading Блок 4
								.cf-accordeon-item__content
									.cf-accordeon-cols
										.cf-accordeon-cols__col
											.cf-accordeon__list-title  Теория:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Стратегия торговли №3
												li.cf-accordeon-list__li 2. Психология трейдера
										.cf-accordeon-cols__col
											.cf-accordeon__list-title Практика:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Домашнее задание
												li.cf-accordeon-list__li 2. Методические материалы
							.cf-accordeon-item
								.cf-accordeon-item__top.js-cf-accordeon-item__top
									.cf-accordeon-item__heading Блок 5
								.cf-accordeon-item__content
									.cf-accordeon-cols
										.cf-accordeon-cols__col
											.cf-accordeon__list-title  Теория:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Стратегия торговли №4
												li.cf-accordeon-list__li 2. Манименеджмент
										.cf-accordeon-cols__col
											.cf-accordeon__list-title Практика:
											ul.cf-accordeon-list
												li.cf-accordeon-list__li 1. Домашнее задание
												li.cf-accordeon-list__li 2. Методические материалы
					.course-format-flex__right
						h3.course-format-h3 В курсе:
						ul.course-format-in-course
							li.course-format-in-course__item  ВИДЕОУРОКИ В ЗАПИСИ;
							li.course-format-in-course__item  ПРОВЕРка домашних заданий;
							li.course-format-in-course__item ЧАТ С ОДНОКУРСНИКАМИ;
							li.course-format-in-course__item Литература для самостоятельного изучения.



		section.scourse-author#author
			img.sauthor-art.sauthor-art--1(src="img/sauthor-art-1.png", alt="")
			img.sauthor-art.sauthor-art--2(src="img/sauthor-art-2.png", alt="")
			img.sauthor-art.sauthor-art--3(src="img/sauthor-art-3.png", alt="")
			.container.container--course-author
				.course-author-flex
					.course-author-flex__info
						h2.section-title.section-title--course-author Автор курса
						.course-author
							.course-author__desc Павел Литвинов, профессиональный трейдер
							.course-author-advantages
								.course-author-advantage
									.course-author-advantage__val +20%
									.course-author-advantage__des Увеличение<br>  депозита<br> в месяц
								.course-author-advantage
									.course-author-advantage__val 4+
									.course-author-advantage__des Лет без<br>  пополнения<br>  депозита
								.course-author-advantage
									.course-author-advantage__val $28361
									.course-author-advantage__des Максимальная<br>  прибыль<br>  за один день
								.course-author-advantage
									.course-author-advantage__val 100+
									.course-author-advantage__des Учеников<br>  успешно<br>  прошли курс
							.course-author__message Привет, рад видеть тебя здесь. Меня зовут Павел Литвинов. Если вкратце, я зарабатываю в среднем +20-50% к депозиту в месяц. В трейдинге я уже более 6-ти лет, хотел бы подробнее рассказать о своем опыте в данной сфере. На протяжении курса я расскажу тебе свою историю и дам практические советы, которые позволят ускорить твой путь в этом нелегком деле. Опыт и знания, которые я оформил в этот обучающий курс значительно ускорят твое становление как трейдера и позволят избежать неприятных ошибок, из-за которых большинство новичков теряют свои деньги. Главное - чтобы ты был готов учиться.
					.course-author-flex__pic
						img(src="img/author-pic.png", alt="")





		section.section-prices#price
			.section-prices__inner
				.container.container--section-prices
					h2.section-title.section-title--section-prices СТОИМОСТЬ
					.section-prices-desc Курс преподается по двум тарифам. Также, есть возможность оформить рассрочку без переплат на 4/6/12 месяцев, без первоначального взноса. Таким образом, у Вас есть целый месяц чтобы пройти обучение и даже получить прибыль, которая с лихвой перекроет первый платеж.
					.section-prices-flex
						.section-prices-card
							.section-prices-card__pic
								img(src="img/price-silver.jpg", alt="")
							.section-prices-card__content
								.section-prices-ul.section-prices-ul--silver
									.section-prices-li Курс в формате видеозаписей;
									.section-prices-li 5 блоков по 1.5 часа в среднем;
									.section-prices-li 4 рабочие стратегии торговли;
									.section-prices-li Домашние задания с проверкой;
									.section-prices-li Личный наставник на месяц после старта курса;
									.section-prices-li Я лично проверяю все домашние задания и контролирую работу, вашу и наставника;
									.section-prices-li Гарантия результата с возвратом средств;
									.section-prices-li Сертификат в формате .pdf;
									.section-prices-li Вечный доступ к урокам;
									.section-prices-li $5 бонусами за каждый пройденный урок;
									.section-prices-li Право на участие в конкурсе;

								.section-prices-card__btn-wrap
									a.btn.btn--square(href="")  Записаться

						.section-prices-card
							.section-prices-card__pic
								img(src="img/price-gold.jpg", alt="")
							.section-prices-card__content
								.section-prices-ul.section-prices-ul--gold
									.section-prices-li.section-prices-li--white ВСЁ ИЗ ТАРИФА <b>“STANDARD”</b> <span class="color-gold">ПЛЮС</span>:
									.section-prices-li $20 бонусами за каждый пройденный урок;
									.section-prices-li Вас буду обучать лично я, без наставника. Личное наставничество в течение 6 месяцев после обучения;
									.section-prices-li Персональное онлайн-занятие по составлению инвестиционного портфеля;
									.section-prices-li Дополнительный блок по психологии в трейдинге;
									.section-prices-li Доступ в закрытый чат по практике трейдинга. В нем я объясняю свои сделки в реальном времени, и делюсь личными инвестиционными идеями;
									.section-prices-li.section-prices-li--star Обучение по этому билету подразумевает личные занятия, соответственно, <span class="color-gold">количество мест ограничено</span>. Так я смогу уделить достаточно внимания каждому ученику, не жертвуя качеством обучения.

								.section-prices-card__btn-wrap
									a.btn.btn--square(href="")  Записаться





		section.section-results
			.section-results__inner
				.container.container--section-results
					h2.section-title.section-title--section-results РЕЗУЛЬТАТЫ
					.results-flex
						.results-item
							.results-item__circle
								.results-item__val
									img(src="img/results-per-95.png", alt="95%")
									//95%
							.results-item__info
								.results-item__name УЧЕНИКОВ
								.results-item__desc Удвоили депозит в<br> течение месяца после<br> прохождения курса
						.results-item
							.results-item__circle
								.results-item__val
									img(src="img/results-per-80.png", alt="80%")
									//80%
							.results-item__info
								.results-item__name УЧЕНИКОВ
								.results-item__desc Создали<br>  диверсифицированные<br>  портфели инвестиций
						.results-item
							.results-item__circle
								.results-item__val
									img(src="img/results-per-1.png", alt="1%")
									//1%
							.results-item__info
								.results-item__name УЧЕНИКОВ
								.results-item__desc Попал в мою личную<br>  торговую команду


		section.section-cert
			.container.container--section-cert
				h2.section-title.section-title--section-cert СЕРТИФИКАТ
				.seccert-flex
					.seccert-flex__pic
						img(src="img/cert-pic.jpg", alt="")
					.seccert-flex__info
						.scert-ul
							.scert-ul__li  Все ученики, успешно прошедшие курс, получают сертификат в формате .pdf, который удостоверяет полученные знания.
							.scert-ul__li  Сертификат предоставляет доступ к дополнительным бонусам, розыгышам и реферальным программам.
							.scert-ul__li  Каждому сертификату присваивается уникальный номер, таким образом, всегда есть возможность удостовериться в его подлинности.




		section.section-reviews#reviews(style="background-image: url(img/reviews-bg.jpg)")
			.container.container--section-reviews
				h2.section-title.section-title--section-reviews ОТЗЫВЫ
				.secreviews-flex
					.secreviews-card
						.secreviews-card__pic.js-open-video(href="img/vid1.MOV")
							img(src="img/reviews-user-1.jpg", alt="")
							| <svg class="play" width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="27" cy="27" r="27" fill="black" fill-opacity="0.7"/><path d="M39.5 26.134C40.1667 26.5189 40.1667 27.4811 39.5 27.866L21.5 38.2583C20.8333 38.6432 20 38.1621 20 37.3923L20 16.6077C20 15.8379 20.8333 15.3568 21.5 15.7417L39.5 26.134Z" fill="#C4C4C4"/></svg>

						.secreviews-card__info
							.secreviews-card__name Олег
							.secreviews-card__text Привет, друзья, мое имя Олег, мне 52 года, в трейдинге я оказался очень случайно. Сначала тыкался-мыкался, пробовал различные каналы с сигналами, не могу сказать что много денег “слил”, но потратился. Прошел полный курс у Павла и могу сказать точно: “Количество профитных сделок у меня прибавилось на порядок” Графики я уже осознаю и иногда даже прогнозирую для себя какие-то сделки. Рекомендую обучаться у Павла.
					.secreviews-card
						.secreviews-card__pic.js-open-video(href="img/vid2.MOV")
							img(src="img/reviews-user-2.jpg", alt="")
							| <svg class="play" width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="27" cy="27" r="27" fill="black" fill-opacity="0.7"/><path d="M39.5 26.134C40.1667 26.5189 40.1667 27.4811 39.5 27.866L21.5 38.2583C20.8333 38.6432 20 38.1621 20 37.3923L20 16.6077C20 15.8379 20.8333 15.3568 21.5 15.7417L39.5 26.134Z" fill="#C4C4C4"/></svg>
						.secreviews-card__info
							.secreviews-card__name Олег
							.secreviews-card__text Павел, огромный-огромный привет. Я хочу выразить благодарность за те знания, за тот опыт, который Вы даете на своем обучении. И могу со стопроцентной увереностью сказать: “Все те знания, тот опыт и стратегии, которые Вы даете на обучении, полностью работают и оправдывают себя”. Приходя на обучение, у вас есть свой личный наставник и связь напрямую с Павлом. Вы можете без стеснений задавать любые вопросы.
					.secreviews-card
						.secreviews-card__pic.js-open-video(href="img/vid3.mp4")
							img(src="img/reviews-user-3.jpg", alt="")
							| <svg class="play" width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="27" cy="27" r="27" fill="black" fill-opacity="0.7"/><path d="M39.5 26.134C40.1667 26.5189 40.1667 27.4811 39.5 27.866L21.5 38.2583C20.8333 38.6432 20 38.1621 20 37.3923L20 16.6077C20 15.8379 20.8333 15.3568 21.5 15.7417L39.5 26.134Z" fill="#C4C4C4"/></svg>
						.secreviews-card__info
							.secreviews-card__name Андрей
							.secreviews-card__text Всем привет, хочу немножко рассказать про уроки от Паши. Раньше я уже знакомился с торговлей, изучал самостоятельно, но мне было сложно разобраться во всем самостоятельно.Я обратил внимание на то, насколько простым языком подан материал, наверное, поймет каждый. Пока обтачиваюсь, смотрю как это работает. Я думаю, уроки надо смотреть - это интересно и если этим заниматься, в итоге можно иметь успех.


		section.section-form(style="background-image: url(img/secform-bg.jpg)")
			.container.container--secform
				form.secform-form(action="")
					.secform-form__title готов достичь новых финансовых высот?
					.secform-form__subtitle присоединяйся!
					.secform-form__inputs
						.secform-inp-row
							.secform-inp-wrap
								input.secform-inp(type="text", name="", placeholder="Имя")
						.secform-inp-row
							.secform-inp-wrap
								input.secform-inp(type="text", name="", placeholder="Телефон")
						.secform-inp-row
							.secform-inp-wrap
								input.secform-inp(type="text", name="", placeholder="E-mail (не обязательно)")
						.secform-inp-row
							.secform-inp-wrap
								input.secform-inp(type="text", name="", placeholder="Ник Telegram (если есть)")
						.secform-inp-row.secform-inp-row--textarea
							.secform-textarea-wrap
								textarea.secform-textarea(name="", placeholder="Сообщение (не обязательно)" )
						.secform-inp-row.secform-inp-row--btn
							button.btn.btn--square.secform-btn-submit(type="submit") Записаться





		section.section-faq#faq(style="background-image: url(img/faq-bg.jpg)")
			.container.container--section-faq
				h2.section-title.section-title--section-faq F.A.Q.
				.section-faq-main
					.cf-accordeon.cf-accordeon--faq
						.cf-accordeon-item.cf-accordeon-item--faq
							.cf-accordeon-item__top.js-cf-accordeon-item__top
								.cf-accordeon-item__heading Что входит в курс?
							.cf-accordeon-item__content
								.cf-accordeon-answer Курс состоит из пяти блоков, в каждом блоке видеоролики в записи, общей длительностью более пяти часов. С каждым уроком Вы получите методические материалы, для самостоятельного изучения, и домашние задания двух уровней сложности. Домашние задания проверяются, выполнение обязательно.
						.cf-accordeon-item.cf-accordeon-item--faq
							.cf-accordeon-item__top.js-cf-accordeon-item__top
								.cf-accordeon-item__heading Сколько длится обучение?
							.cf-accordeon-item__content
								.cf-accordeon-answer Курс составлен таким образом, чтобы Вы могли обучаться в свободное время. Но это не означает что нужно затягивать. Оптимально пройти курс в течение месяца.
						.cf-accordeon-item.cf-accordeon-item--faq
							.cf-accordeon-item__top.js-cf-accordeon-item__top
								.cf-accordeon-item__heading Какой размер депозита необходим для обучения?
							.cf-accordeon-item__content
								.cf-accordeon-answer Задача этого курса - дать Вам все необходимые знания для старта своей карьеры трейдера. Поэтому, все обучение происходит на демонстрационном счете - это убережет Вас от потери реальных денег. 
						.cf-accordeon-item.cf-accordeon-item--faq
							.cf-accordeon-item__top.js-cf-accordeon-item__top
								.cf-accordeon-item__heading Почему нельзя оплатить обучение после прохождения курса?
							.cf-accordeon-item__content
								.cf-accordeon-answer Все дело в психологии, человеческий мозг обесценивает все, что достается ему легко. Таким образом, ученик, получивший курс бесплатно, попросту не проходит его. Мозг найдет сотни объективных причин, тем не менее, результат всегда один - ученик не проходит обучение. Заплатив реальные деньги - Вы будете мотивированны получить ценность в ответ, и обязательно получите ее.   
						.cf-accordeon-item.cf-accordeon-item--faq
							.cf-accordeon-item__top.js-cf-accordeon-item__top
								.cf-accordeon-item__heading Сколько стоит обучение?
							.cf-accordeon-item__content
								.cf-accordeon-answer Курс преподаетсяется по двум тарифам. Объем и полезность информации, при этом, не отличается. Билет "Individual" дает больше бонусов во время и после обучения, кроме этого, Вашем обучением занимаюсь лично я. Я не хочу жертвовать качеством обучения, соответственно, количество учеников, которых я могу обучить по билету "Individual" - ограничено. Вне зависимости от билета, все домашние задания проверяю лично я. Стоимость обучения по билету "Standard" - $500, по билету "Individual" - $1500.
						.cf-accordeon-item.cf-accordeon-item--faq
							.cf-accordeon-item__top.js-cf-accordeon-item__top
								.cf-accordeon-item__heading Возможно ли оформить рассрочку?
							.cf-accordeon-item__content
								.cf-accordeon-answer Разумеется, Вы можете оформить рассрочку на 4, 6 или 12 месяцев, без переплат и первоначального взноса. Таким образом, у вас будет целый месяц на то чтобы пройти курс и даже получить первую реальную прибыль, которая может привысить первоначальный взнос.






