.outer-container
	footer.site-footer
		.container.container--footer
			.footer-flex
				.footer-col.footer-col--1
					.footer-logo-wrap
						.footer-logo
							img(src="img/header-logo.png", alt="")
						.footer-desc Обучение трейдингу с гарантией
					.foo-contacts
						.foo-contact
							.foo-contact__type По всем вопросам:
							a.foo-contact__val(href="mailto:Litvinovtrading@gmail.com") Litvinovtrading@gmail.com
					.foo-conf
						a.foo-conf__link(href="") Политика конфиденциальности
						.foo-conf__link.foo-conf__link--delimiter |
						a.foo-conf__link(href="") Условия оферты
				.footer-col.footer-col--2
					nav.footer-menu-wrap
						ul.footer-menu
							li.footer-menu__item
								a(href="") Программа
							li.footer-menu__item
								a(href="") Автор
							li.footer-menu__item
								a(href="") Cтоимость
							li.footer-menu__item
								a(href="") Отзывы
							li.footer-menu__item
								a(href="") F.A.Q.
				.footer-col.footer-col--3
					.footer-socials
						a.footer-social(href="")
							.footer-social__pic
								img(src="img/footer/insta.png", alt="social logo")
							.footer-social__info
								.footer-social__name Instagram
								.footer-social__desc Следи
						a.footer-social(href="")
							.footer-social__pic
								img(src="img/footer/yt.png", alt="social logo")
							.footer-social__info
								.footer-social__name YouTube
								.footer-social__desc Смотри
						a.footer-social(href="")
							.footer-social__pic
								img(src="img/footer/tg.png", alt="social logo")
							.footer-social__info
								.footer-social__name Telegram
								.footer-social__desc Читай
				.footer-col.footer-col--4
					form.footer-form
						.footer-form__inp-row
							.footer-form__inp-wrap
								input.footer-form__inp(type="text", name="name", placeholder="Имя", required)
						.footer-form__inp-row
							.footer-form__inp-wrap
								input.footer-form__inp(type="tel", name="tel", placeholder="Телефон", required)
						.footer-form__inp-row
							.footer-form__inp-wrap
								input.footer-form__inp(type="email", name="email", placeholder="E-mail (не обязательно)")
						.footer-form__btn-wrap
							button.btn.btn--square.footer-form__btn(type="submit") Записаться


