.outer-container
	footer.site-footer
		.container.container--footer
			.footer-flex
				.footer-col.footer-col--1
					.footer-logo-wrap
						.footer-logo
							img(src="img/header-logo.png", alt="")
						.footer-desc Обучение трейдингу с гарантией
					.dd1.dd2.dt1
						.foo-contacts
							.foo-contact
								.foo-contact__type По всем вопросам:
								a.foo-contact__val(href="mailto:Litvinovtrading@gmail.com") Litvinovtrading@gmail.com
						.foo-conf
							a.foo-conf__link.js-open-popup-inline(href="#foo-privacy") Политика конфиденциальности
							.foo-conf__link.foo-conf__link--delimiter |
							a.foo-conf__link.js-open-popup-inline(href="#foo-oferta") Условия оферты
				.footer-col.footer-col--2
					.footer-menu-opener.js-footer-menu-opener.dm1
						|  <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.35305 0.655285C1.15766 0.460149 0.841078 0.460353 0.645942 0.655741C0.450805 0.851128 0.451009 1.16771 0.646397 1.36285L1.35305 0.655285ZM7.14619 7.85427C7.34157 8.04941 7.65816 8.0492 7.85329 7.85381C8.04843 7.65843 8.04823 7.34184 7.85284 7.14671L7.14619 7.85427ZM0.646397 1.36285L7.14619 7.85427L7.85284 7.14671L1.35305 0.655285L0.646397 1.36285Z" fill="#ADADAD"/><path d="M13.6464 0.646447C13.8417 0.451184 14.1583 0.451184 14.3536 0.646447C14.5488 0.841709 14.5488 1.15829 14.3536 1.35355L13.6464 0.646447ZM7.85355 7.85355C7.65829 8.04881 7.34171 8.04882 7.14645 7.85355C6.95118 7.65829 6.95119 7.34171 7.14645 7.14645L7.85355 7.85355ZM14.3536 1.35355L7.85355 7.85355L7.14645 7.14645L13.6464 0.646447L14.3536 1.35355Z" fill="#ADADAD"/></svg>
						span меню
					nav.footer-menu-wrap
						ul.footer-menu
							li.footer-menu__item
								a(href="") Программа
							li.footer-menu__item
								a(href="") Автор
							li.footer-menu__item
								a(href="") Cтоимость
							li.footer-menu__item
								a(href="") Отзывы
							li.footer-menu__item
								a(href="") F.A.Q.

					.footer-menu-after-m.dm1
				.footer-col.footer-col--3
					.footer-socials
						a.footer-social(href="")
							.footer-social__pic
								img(src="img/footer/insta.png", alt="social logo")
							.footer-social__info
								.footer-social__name Instagram
								.footer-social__desc Следи
						a.footer-social(href="")
							.footer-social__pic
								img(src="img/footer/yt.png", alt="social logo")
							.footer-social__info
								.footer-social__name YouTube
								.footer-social__desc Смотри
						a.footer-social(href="")
							.footer-social__pic
								img(src="img/footer/tg.png", alt="social logo")
							.footer-social__info
								.footer-social__name Telegram
								.footer-social__desc Читай
				.footer-col.footer-col--4
					form.footer-form.dd1.dd2.dt1
						.footer-form__inp-row
							.footer-form__inp-wrap
								input.footer-form__inp(type="text", name="name", placeholder="Имя", required)
						.footer-form__inp-row
							.footer-form__inp-wrap
								input.footer-form__inp(type="tel", name="tel", placeholder="Телефон", required)
						.footer-form__inp-row
							.footer-form__inp-wrap
								input.footer-form__inp(type="email", name="email", placeholder="E-mail (не обязательно)")
						.footer-form__btn-wrap
							button.btn.btn--square.footer-form__btn(type="submit") Записаться

					.foo-btn-sign-up-m-wrap.dt2.dm1
						a.btn.btn--square.foo-btn-sign-up-m(href="#") Записаться
						a.btn.btn--square.btn--square--transparent-dark.foo-btn-sign-up-m.dm1(href="#") Обратная связь


				.footer-col.footer-col--5.dt2.dm1
					.foo-contacts
						.foo-contact
							a.foo-contact__val(href="mailto:Litvinovtrading@gmail.com") Litvinovtrading@gmail.com
					.foo-conf
						a.foo-conf__link.js-open-popup-inline(href="#foo-privacy") Политика конфиденциальности
						.foo-conf__link.foo-conf__link--delimiter |
						a.foo-conf__link.js-open-popup-inline(href="#foo-oferta") Условия оферты

#foo-privacy.my-modal.my-modal--oferta.mfp-hide

	.my-modal__inner
		.my-modal__text
			h3 Условия оферты
			p Условия оферты Условия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия оферты
			p Условия оферты Условия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия оферты
			p Условия оферты Условия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия оферты
			p Условия оферты Условия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия оферты
			p Условия оферты Условия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия офертыУсловия оферты


#foo-oferta.my-modal.my-modal--privacy.mfp-hide

	.my-modal__inner
		.my-modal__text
			h3 Политика конфиденциальности
			p Политика в отношении обработки персональных данных
			p 1. Общие положения
			p Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных ИП Литвинов П.М. (далее – Оператор).
			br
			p Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
			p Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта https://litvinoff.tb.ru/
			p 2. Основные понятия, используемые в Политике
			p Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;
			p Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);
			p Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу https://litvinoff.tb.ru/;
			p Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;
			p Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных;
			p Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;
			p Оператор – государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;
			p Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб-сайта https://litvinoff.tb.ru/;
			p Пользователь – любой посетитель веб-сайта https://litvinoff.tb.ru/;
			p Предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;
			p Распространение персональных данных – любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;
			p Трансграничная передача персональных данных – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу;
			p Уничтожение персональных данных – любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) результате которых уничтожаются материальные носители персональных данных.
			p 3. Оператор может обрабатывать следующие персональные данные Пользователя
			p Фамилия, имя, отчество;
			p Электронный адрес;
			p Номера телефонов;
			p Никнейм в на платформе https://telegram.org/
			p Год, месяц, дата и место рождения;
			p Фотографии;
			p Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).
			p Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.
			p 4. Цели обработки персональных данных
			p Цель обработки персональных данных Пользователя — информирование Пользователя посредством отправки электронных писем; предоставление доступа Пользователю к сервисам, информации и/или материалам, содержащимся на веб-сайте.
			p Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты arthouse31@yandex.ru с пометкой «Отказ от уведомлениях о новых продуктах и услугах и специальных предложениях».
			p Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.
			p 5. Правовые основания обработки персональных данных
			p Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте https://litvinoff.tb.ru/. Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.
			p Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).
			p 6. Порядок сбора, хранения, передачи и других видов обработки персональных данных
			p Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.
			br
			p Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.
			p Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.
			p В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора arthouse31@yandex.ru с пометкой «Актуализация персональных данных».
			p Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора arthouse31@yandex.ru с пометкой «Отзыв согласия на обработку персональных данных».
			p 7. Трансграничная передача персональных данных
			p Оператор до начала осуществления трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных.
			p Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных.
			p 8. Заключительные положения
			p Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты arthouse31@yandex.ru.
			p В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.

			h3 Договор оферты

			p Настоящий договор является официальным предложением (публичной офертой) адресованным любому физическому лицу, в дальнейшем именуемому Заказчик, согласившемуся с условиями настоящей публичной оферты, путем ее полного и безоговорочного акцепта.
			br
			p Заказчик обязан полностью ознакомиться с настоящим документом до момента внесения оплаты.
			br
			p Индивидуальный предприниматель Литвинов П.М., (ОГРНИП 321312300042209), именуемый в дальнейшем — Исполнитель выражает намерение заключить договор об оказании платных информационно-консультационных услуг с Заказчиком на условиях настоящей оферты (далее —«Договор»).
			p 1. Термины и определения
			p В целях настоящей оферты нижеприведенные термины используются в следующих значениях:
			br
			p Оферта — настоящий документ опубликованный по адресу
			br
			p https://litvinoff.tb.ru/offer
			br
			p https://telegra.ph/Dogovor-oferty-08-20
			p Акцепт Оферты — полное и безоговорочное принятие Оферты путем осуществления действий, указанных в п. 2.2. Оферты. Акцепт Оферты создает Договор.
			br
			p Заказчик — лицо, осуществившее Акцепт Оферты, являющееся потребителем платных информационно-консультационных услуг в сфере дошкольного образования и дополнительного образования детей и взрослых по заключенному Договору.
			br
			p Договор — договор между Заказчиком и Исполнителем на предоставление информационно-консультационных услуг, который заключается посредством Акцепта Оферты.
			br
			p Сайт — интернет ресурс, содержащий полную информацию о cодержании и стоимости курсов, размещенный по адресу https://litvinoff.tb.ru/
			br
			p Тариф — набор услуг.
			p 2. ПРЕДМЕТ ДОГОВОРА
			p 2.1. Исполнитель предоставляет, а Заказчик оплачивает информационно-консультационные услуги в рамках выбранного тарифа, продолжительность и план которых, определены Приложениями к Договору, размещенными в соответствующих разделах Сайта.
			br
			p 2.2. Оплатой Заказчик выражает свое полное и безоговорочное принятие условий настоящего договора (акцепт).
			br
			p 2.3. Стоимость услуг по Договору сообщается на Сайте и составляет сумму, указанную для конкретного тарифа, интересующего Заказчика, указанного на странице сайта.2.4. Услуга считается оказанной в момент предоставления первых информационных материалов.
			br
			p 2.4. Услуга считается оказанной в момент предоставления первых информационных материалов.
			br
			p 2.5. Исполнитель гарантирует Заказчику возврат денежных средств при недостижении последним желаемых результатов при условии совершения Заказчиком не менее 30 сделок на реальном торговом счете с потерями не менее чем 50% по всем сделкам, по стратегиям, предложенным в информационных материалах, а также прохождения Заказчиком всех уроков курса и сдачи всех домашних заданий к ним.
			br
			p 2.6. Преподавательская поддержка, поддержка наставника и третьих лиц осуществляется в течение 30 дней со дня начала обучения, то есть со дня предоставления первых информационных материалов.
			br
			p
			p 3. ОБЯЗАННОСТИ ИСПОЛНИТЕЛЯ
			p Исполнитель обязан:
			br
			p 3.1. Организовать и обеспечить надлежащее исполнение услуг, предусмотренных в п. 2.1. настоящего Договора, в соответствии с тарифом, выбранным Заказчиком.
			br
			p 3.2. Для организации доступа к учебным материалам и трансляциям Исполнитель обязуется провести добавление Заказчика в соответствующий телеграм-канал (чат), в котором осуществляется оказание услуг.
			br
			p 3.3. Обеспечить Заказчика всеми необходимыми учебными методическими материалами.
			br
			p 3.4. В случае отсутствия доступа к учебным материалам в связи с техническими неполадками Сайта Исполнитель обязан устранить неполадки либо предоставить альтернативный доступ к учебным материалам.
			br
			p 4. ОБЯЗАННОСТИ ЗАКАЗЧИКА
			p 4.1. Заказчик предоставляет достоверную информацию при регистрации на Сайте и поддерживает эту информацию в актуальном состоянии.
			br
			p 4.2. Исполнитель имеет право отказать Заказчику в оказании услуг в случае предоставления Заказчиком заведомо неверной (ложной) информации.
			br
			p 4.3. Заказчик обязан надлежащим образом выполнять задания по подготовке к занятиям.
			br
			p 4.4.Заказчик обязан строго следовать инструкциям Исполнителя при выполнении заданий.
			br
			p 5. ПРАВА ИСПОЛНИТЕЛЯ И ЗАКАЗЧИКА
			p 5.1. Исполнитель вправе для оказания услуг привлекать третьих лиц, отвечая за их действия.
			br
			p 5.2. Исполнитель вправе отказать Заказчику в оказании новых услуг, если Заказчик в период оказания услуг допускал нарушения, предусмотренные гражданским законодательством и настоящим договором, и дающие Исполнителю право в одностороннем порядке отказаться от исполнения договора.
			br
			p 5.3. При оказании услуг по тарифам, включающих поддержку куратора, в случае непонимания пройденного материала Заказчик обязан предупредить об этом куратора связавшись с администрацией по электронной почте arthouse31@yandex.ru
			br
			p 5.4. Заказчик вправе требовать от Исполнителя предоставления информации:
			br
			p • по вопросам, касающимся организации и обеспечения надлежащего исполнения услуг, предусмотренных разделом 2 настоящего договора;
			br
			p • по вопросам оценке своих знаний и критериях этой оценки.
			br
			p 5.5. Исполнитель имеет право незамедлительно прекратить оказание услуг без возвращения денежных средств за оплаченные услуги, в случае проявления со стороны Заказчика агрессии или неуважительного отношения.
			p 6. ОПЛАТА УСЛУГ И ВОЗВРАТ ДЕНЕЖНЫХ СРЕДСТВ
			p 6.1. Заказчик оплачивает услуги, указанные в разделе 2.1 Договора в российских рублях. Оплата предоставляемых услуг производится на основании счета на оплату.
			br
			p 6.2. Заказчик производит оплату услуг Исполнителя до начала оказания услуг в размере 100%, 50%, или иной суммы ранее оговоренной с исполнителем, предоплаты путем перечисления безналичных денежных средств Исполнителю на расчетный или другие счета Исполнителя.
			br
			p 6.3. Моментом оплаты считается поступление средств на расчетный или другие счета Исполнителя.
			p 7. СОБЛЮДЕНИЕ АВТОРСКОГО ПРАВА И КОНФИДЕНЦИАЛЬНОСТЬ
			p 7.1. Заказчик обязан соблюдать авторские права на все материалы Исполнителя в соответствии с Законом об авторских правах.
			br
			p 7.2. Заказчику запрещается копировать какие-либо видео- или текстовые материалы.
			br
			p 7.3. Заказчику запрещено использовать полученные учебные материалы в коммерческих целях, от своего имени, размещать в открытом доступе, передавать третьим лицам. За данные действия предусмотрен штраф в размере 50 000 рублей.
			br
			p 7.4. Заказчику запрещено передавать доступ к материалам. Обнаружение факта доступа к материалам третьих лиц является основанием для одностороннего расторжения Исполнителем договора без возврата денежных средств и штрафом в 50 000 рублей.
			br
			p 7.5. Факт заключения настоящего Договора не рассматривается Сторонами как конфиденциальная информация.
			br
			p 7.6. Стороны обязуются не разглашать информацию, полученную Сторонами в ходе выполнения своих обязательств по настоящему Договору, за исключением случаев, когда Сторона обязана предоставить такую информацию в соответствии с действующим законодательством, применимым к Договору, или было получено согласие на разглашение такой информации.
			p 8. ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ ЗАКАЗЧИКА
			br
			p 8.1. Персональные данные Заказчика обрабатываются в соответствии с Федеральным Законом «О персональных данных» № 152-ФЗ.
			br
			p 8.2. Предоставляя свои персональные данные Исполнителю, Заказчик соглашается на их обработку Исполнителем, в том числе в целях выполнения Исполнителем обязательств перед Заказчиком в рамках настоящей публичной оферты, продвижения Исполнителем товаров и услуг, проведения электронных и sms опросов, контроля результатов маркетинговых акций, клиентской поддержки, проведение розыгрышей призов среди Заказчиков, контроля удовлетворенности Заказчика, а также качества услуг, оказываемых Исполнителем.
			br
			p 8.3. Под обработкой персональных данных понимается любое действие (операция) или совокупность действий (операций), совершаемых Исполнителем с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение) извлечение, использование, обезличивание, блокирование, удаление, уничтожение персональных данных.
			br
			p 8.4. Исполнитель вправе использовать технологию «cookies». «Cookies» не содержат конфиденциальную информацию. Заказчик настоящим дает согласие на сбор, анализ и использование cookies, в том числе третьими лицами для целей формирования статистики и оптимизации рекламных сообщений.
			br
			p 8.5. Исполнитель получает информацию об ip-адресе посетителя Сайта. Данная информация не используется для установления личности посетителя.
			br
			p 8.6. Исполнитель не несет ответственности за сведения, предоставленные Заказчиком на Сайте в общедоступной форме.
			br
			p 8.7. Исполнитель вправе осуществлять записи телефонных разговоров с Заказчиком. При этом Исполнитель обязуется: предотвращать попытки несанкционированного доступа к информации, полученной в ходе телефонных переговоров, и/или передачу ее третьим лицам, не имеющим непосредственного отношения к исполнению Заказов, в соответствии с п. 4 ст. 16 Федерального закона «Об информации, информационных технологиях и о защите информации».
			p 9. ОСНОВАНИЯ И УСЛОВИЯ ИЗМЕНЕНИЯ И РАСТОРЖЕНИЯ ДОГОВОРА
			br
			p 9.1. Условия, на которых заключен настоящий договор, могут быть изменены либо по соглашению сторон, либо в соответствии с действующим законодательством Российской Федерации.
			br
			p 9.2. Настоящий договор может быть расторгнут по соглашению сторон. По инициативе одной из сторон договор может быть расторгнут по основаниям, предусмотренным действующим законодательством Российской Федерации. В случае расторжения договора до начала оказания услуг, Исполнитель возвращает Заказчику оплату.
			br
			p 9.3 Отказ от оказания услуг производятся по заявлению Заказчика в электронном виде на электронную почту. Отказ возможен в течение 24 часов с момента оплаты.
			br
			p 9.4. Возврат осуществляется в течение тридцати рабочих дней с момента расторжения Договора.
			br
			p 9.5. Договор считается расторгнутым со дня письменного уведомления Исполнителем Заказчика об отказе от исполнения договора.
			p 10. ОТВЕТСТВЕННОСТЬ ЗА НЕИСПОЛНЕНИЕ ИЛИ НЕНАДЛЕЖАЩЕЕ ИСПОЛНЕНИЕ ОБЯЗАТЕЛЬСТВ ПО НАСТОЯЩЕМУ ДОГОВОРУ
			br
			p 10.1. В случае неисполнения или ненадлежащего исполнения сторонами обязательств по настоящему договору они несут ответственность, предусмотренную гражданским законодательством, на условиях, установленных этим законодательством.
			br
			p 10.2. Ни одна из Сторон не будет нести ответственности за полное или частичное неисполнение любой из своих обязанностей по настоящему Договору, если неисполнение будет являться следствием обстоятельств непреодолимой силы. Сторона, для которой создалась невозможность исполнения обстоятельств, обязана немедленно в письменном виде уведомить другую сторону о наступлении, предполагаемом сроке действия и прекращения вышеуказанных обстоятельств. Неуведомление или несвоевременное уведомление лишает Стороны права ссылаться на любое вышеуказанное обстоятельство как на основание, освобождающее от ответственности за неисполнение обязательства.
			p 11. СРОК ДЕЙСТВИЯ ДОГОВОРА И ДРУГИЕ УСЛОВИЯ
			br
			p 11.1. Настоящий Договор вступает в силу с момента акцепта Заказчиком данной Публичной оферты и действует до полного исполнения Сторонами взятых на себя обязательств.
			br
			p 11.2. Исполнитель оставляет за собой право внести изменения в настоящий Договор в любой момент по своему усмотрению, такие изменения вступают в силу с момента размещения изменённого текста Договора, если иной срок вступления изменений в силу не определён дополнительно в тексте публикации.
			br
			p 11.3 Отказ от обучения производятся по заявлению Заказчика в электронном виде на электронную почту. Отказ возможен в течение 24 часов с момента оплаты курсы. При отказе от обучения, денежные средства возвращаются только если слушатель так и не приступил к обучению и не получил первые информационные материалы.
			br
			p Исполнитель
			p Исполнитель:
			p Индивидуальный предприниматель Литвинов П.М. ОГРНИП: 321312300042209 Зарегистрирован: Инспекция Федеральной налоговой службы по г. Белгороду Адрес регистрирующего органа 308023, Белгород г, Садовая ул, д 7. Электронная почта: arthouse31@yandex.ru