.section-cert {
	overflow: hidden;
	position: relative;
	padding: 131px 0 130px;
	background: url(../img/bg-scert.png), radial-gradient(43.68% 98.04% at 30.49% 50%, #1E1E1E 0%, #191919 100%) no-repeat center center;
	background-size: 1920px auto;


	@media screen and (max-width: 1199px) {
		padding: 151px 0 150px;
	}

	@media screen and (max-width: 991px) {
		padding: 76px 0;
	}

	@media screen and (max-width: 766px) {
		padding: 76px 0 57px;


	}

	@media screen and (max-width: 575px) {
		padding: 31px 0;
	}
}

.container--section-cert {
	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}
}

.section-title--section-cert {
	letter-spacing: 0.1em;

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}
}

.seccert-flex {
	display: flex;
	align-items: flex-start;
	margin-top: 52px;

	@media screen and (max-width: 1199px) {
		margin-top: 50px;
	}

	@media screen and (max-width: 991px) {
		display: block;
		margin-top: 39px;
	}

	@media screen and (max-width: 766px) {
		margin-top: 29px;
	}

	@media screen and (max-width: 575px) {
		margin-top: 12px;
	}

	&__pic {
		width: 652px;
		min-width: 652px;
		margin-right: 70px;

		@media screen and (max-width: 1199px) {
			width: auto;
			min-width: unset;
		}

		@media screen and (max-width: 991px) {
			width: 652px;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
		}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}

		img {
			width: 100%;
			height: auto;
			filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.5));

			@media screen and (max-width: 1199px) {}

			@media screen and (max-width: 991px) {}

			@media screen and (max-width: 766px) {}

			@media screen and (max-width: 575px) {}
		}
	}

	&__info {
		margin-top: -4px;

		@media screen and (max-width: 1199px) {
			width: 385px;
			max-width: 100%;
		}

		@media screen and (max-width: 991px) {
			width: 100%;

			margin-top: 40px;
		}

		@media screen and (max-width: 766px) {
			margin-top: 34px;
		}

		@media screen and (max-width: 575px) {
			margin-top: 21px;
		}

	}
}

.scert-ul {
	display: block;
	list-style: none;
	color: rgba(255, 255, 255, 0.6);
	font-size: 18px;
	font-weight: 500;
	line-height: 150%;

	@media screen and (max-width: 1199px) {
		font-size: 16px;
		line-height: 120%;
	}

	@media screen and (max-width: 991px) {
		font-size: 12px;
		line-height: 120%;
		display: flex;
		justify-content: space-between;
		width: 636px;
		max-width: 100%;
		margin: 0 auto;

	}

	@media screen and (max-width: 766px) {
		font-size: 12px;
		line-height: 130%;
	}

	@media screen and (max-width: 575px) {
		font-size: 12px;
		line-height: 140%;
		width: 100%;
		display: block;
	}

	&__li {
		position: relative;
		display: block;
		padding-left: 28px;
		list-style: none;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {
			padding-left: 18px;
		}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {
			width: 100%;
			padding-left: 12px;
		}

		&::before {
			position: absolute;
			top: 10px;
			left: 6px;
			display: block;
			width: 13px;
			height: 13px;
			content: '';
			transform: translate(-50%, -50%);
			border-radius: 50%;
			background: #e9e9e9;

			@media screen and (max-width: 1199px) {
				top: 8px;
			}

			@media screen and (max-width: 991px) {
				width: 8px;
				height: 8px;
			}

			@media screen and (max-width: 766px) {}

			@media screen and (max-width: 575px) {
				left: 4px;}
		}

		&+.scert-ul__li {
			margin-top: 35px;

			@media screen and (max-width: 1199px) {
				margin-top: 52px;
			}

			@media screen and (max-width: 991px) {
				margin-top: 0;
				margin-left: 12px;
			}

			@media screen and (max-width: 766px) {}

			@media screen and (max-width: 575px) {
				margin-left: 0;
				margin-top: 15px;
			}
		}
	}
}