.course-format {
	position: relative;
	overflow: hidden;
	padding: 152px 0 184px;
	background: radial-gradient(100% 100% at 87.92% 100%, #2B2B2B 0%, #202020 100%);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-size: 100% 3000px;
	z-index: 1;

	@media screen and (max-width: 1199px) {
		padding-bottom: 107px;
	}

	@media screen and (max-width: 991px) {
		padding-top: 98px;
		padding-bottom: 94px;
	}

	@media screen and (max-width: 766px) {
		padding-top: 72px;
		padding-bottom: 69px;
	}

	@media screen and (max-width: 575px) {
		padding-top: 27px;
		padding-bottom: 29px;
	}
}

.sformat-art {
	position: absolute;
	display: block;
	z-index: 1;


	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}

	&--1 {
		top: 64px;
		left: calc(50% + 396px);
	}

	&--2 {
		top: 470px;
		right: calc(50% + 227px);
	}

	&--3 {
		//top: 358px;
		top: 320px;
		left: calc(50% + 181px);
	}
}

.container {
	position: relative;
	z-index: 2;

	&--course-format {}
}

.section-title {
	letter-spacing: 0.15em;
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
	font-size: 36px;
	font-weight: 900;
	line-height: 44px;

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {
		font-size: 24px;
		line-height: 29px;
		text-align: center;
		letter-spacing: 0.15em;
	}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}

	&--course-format {
		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}
}

.course-format__subtitle {
	margin-top: 20px;
	letter-spacing: 0.055em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;

	@media screen and (max-width: 1199px) {
		font-size: 14px;
		line-height: 150%;
		letter-spacing: 0.05em;
	}

	@media screen and (max-width: 991px) {
		text-align: center;
		margin-top: 34px;
	}

	@media screen and (max-width: 766px) {
		margin-top: 37px;
	}

	@media screen and (max-width: 575px) {
		margin-top: 20px;
		font-size: 12px;
		line-height: 150%;
	}
}

.course-format__desc {
	margin-top: 31px;
	/* or 24px */
	color: rgba(255, 255, 255, 0.3);
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;

	@media screen and (max-width: 1199px) {
		font-size: 14px;
		margin-top: 34px;
	}

	@media screen and (max-width: 991px) {
		margin-top: 14px;
		text-align: center;
	}

	@media screen and (max-width: 766px) {
		margin-top: 19px;
	}

	@media screen and (max-width: 575px) {
		font-size: 10px;
		line-height: 150%;
		margin-top: 10px;
	}
}

.course-format-advantages {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	margin-top: 63px;

	@media screen and (max-width: 1199px) {
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 75px;
		width: 845px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -74px;
	}

	@media screen and (max-width: 991px) {
		margin-top: 57px;
	}

	@media screen and (max-width: 766px) {
		justify-content: space-between;
		margin-top: 46px;
	}

	@media screen and (max-width: 575px) {
		justify-content: space-between;
		margin-top: 11px;
		width: 270px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -34px;

	}

	&__delimiter {
		display: block;
		width: 2px;
		background: rgba(255, 255, 255, 0.05);

		@media screen and (max-width: 1199px) {
			display: none;
		}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}
}

.course-format-advantage {
	display: flex;
	align-items: center;

	@media screen and (max-width: 1199px) {
		padding: 0 50px;
		margin-bottom: 74px;

		&:nth-child(1),
		&:nth-child(3) {
			padding: 0 75px;
		}

		&:nth-child(5) {

			margin-left: -50px;
		}

		&:nth-child(9) {
			margin-right: -50px;
		}
	}

	@media screen and (max-width: 991px) {}

	@media screen and (min-width: 767px) and (max-width: 790px) {
		padding: 0 40px;
	}

	@media screen and (max-width: 766px) {
		padding: 0 0;

		&:nth-child(1),
		&:nth-child(3) {
			padding: 0 0;
		}

		&:nth-child(1),
		&:nth-child(5) {
			padding: 0 0;
			width: 50%;
			justify-content: center;
		}



		&:nth-child(1) {
			order: 1;
			padding-right: 30px;
		}

		&:nth-child(3) {
			order: 3;
		}

		&:nth-child(5) {
			order: 2;
			padding-left: 30px;
			margin-left: 0;
		}

		&:nth-child(7) {
			order: 4;
		}

		&:nth-child(9) {
			order: 5;
			margin-right: 0;
		}
	}

	@media screen and (max-width: 575px) {
		padding: 0 !important;
		width: auto !important;
		flex-grow: 0 !important;
		margin-bottom: 34px;

		&:last-child:nth-child(9) {
			flex-grow: 1 !important;
			justify-content: center;
		}
	}

	&__pic {
		width: auto;
		height: 45px;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {
			height: 24px;
		}

		img {
			width: auto;
			height: 100%;
		}
	}

	&__info {
		margin-left: 20px;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {
			margin-left: 10px;
		}
	}

	&__name {
		color: rgba(255, 255, 255, 0.9);
		font-size: 18px;
		font-weight: 900;
		line-height: 22px;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {
			font-weight: 900;
			font-size: 12px;
			line-height: 15px;
		}
	}

	&__desc {
		margin-top: 5px;
		margin-bottom: -2px;
		color: rgba(255, 255, 255, 0.3);
		font-size: 14px;
		font-weight: 500;
		line-height: 17px;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {
			font-size: 10px;
			line-height: 12px;
			margin-top: 0;
		}
	}
}

.course-format-flex {
	display: flex;
	margin-top: 112px;

	@media screen and (max-width: 1199px) {
		margin-top: 78px;
	}

	@media screen and (max-width: 991px) {
		flex-direction: column;
		align-items: center;
		margin-top: 65px;
	}

	@media screen and (max-width: 766px) {
		margin-top: 94px;
	}

	@media screen and (max-width: 575px) {
		margin-top: 62px;
	}

	&__left {
		flex-grow: 1;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {
			width: 100%;
			max-width: 100%;
		}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}

	&__right {
		width: 322px;
		min-width: 322px;
		margin-left: 69px;

		@media screen and (max-width: 1199px) {
			width: 287px;
			min-width: 287px;
			margin-left: 21px;
		}

		@media screen and (max-width: 991px) {
			display: none;
		}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}
}

.course-format-h3 {
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
	font-size: 36px;
	font-weight: 900;
	line-height: 44px;

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {
		font-weight: 900;
		font-size: 24px;
		line-height: 29px;
		color: rgba(255, 255, 255, 0.9);
		text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
		text-align: center;
	}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {
		font-size: 18px;
		line-height: 22px;
	}
}

.cf-accordeon {
	margin-top: 78px;

	@media screen and (max-width: 1199px) {
		margin-top: 66px;
	}

	@media screen and (max-width: 991px) {
		width: 768px;
		max-width: 100%;
		margin-top: 44px;
	}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {
		margin-left: -15px;
		margin-right: -15px;
		max-width: calc(100% + 30px);
		margin-top: 37px;
	}
}

.cf-accordeon-item {
	position: relative;
	z-index: 1;
	padding: 20px 0 20px;
	transition: .3s;

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {
		padding: 22px 0;
	}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {
		padding: 18px 0px 17px;
	}

	&__top {
		position: relative;
		cursor: pointer;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}

		&::before,
		&::after {
			position: absolute;
			top: 11px;
			/*right: 22px;
			top: -1px;*/
			right: 26px;
			display: block;
			width: 26px;
			height: 2px;
			content: '';
			transition: .3s;
			//margin-right: -12px;
			transform: translate(50%, 50%);
			transform-origin: center center;
			background: #6C6C6C;
			background-size: contain;

			@media screen and (max-width: 1199px) {}

			@media screen and (max-width: 991px) {
				top: 9px;
				right: 35px;
			}

			@media screen and (max-width: 766px) {
				right: 25px;
			}

			@media screen and (max-width: 575px) {
				right: 30px;
				top: 7px;
			}
		}

		&::before {}

		&::after {
			transform: translate(50%, 50%) rotate(90deg);
		}
	}

	&__content {
		display: none;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}

	&::before,
	&::after {
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
		content: '';
		transition-duration: .3s;
		background: rgba(255, 255, 255, 0.1);

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {
			height: 1px;
		}
	}

	&::before {
		top: -2px;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {
			top: -1px;
		}
	}

	&::after {
		bottom: 0;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}

	&--active {
		z-index: 5;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}

		.cf-accordeon-item__heading {
			transition: .3s;
			color: #FFFFFF;

			@media screen and (max-width: 1199px) {}

			@media screen and (max-width: 991px) {}

			@media screen and (max-width: 766px) {}

			@media screen and (max-width: 575px) {}
		}

		.cf-accordeon-item__top {

			&::before,
			&::after {
				width: 40px;
				background: #fff;

				@media screen and (max-width: 1199px) {}

				@media screen and (max-width: 991px) {}

				@media screen and (max-width: 766px) {}

				@media screen and (max-width: 575px) {}
			}

			&::before {
				transform: translate(50%, 50%) rotate(45deg);
			}

			&::after {
				transform: translate(50%, 50%) rotate(135deg);
			}
		}

		&::before,
		&::after {
			background: rgba(255, 255, 255, 0.6);

			@media screen and (max-width: 1199px) {}

			@media screen and (max-width: 991px) {}

			@media screen and (max-width: 766px) {}

			@media screen and (max-width: 575px) {}
		}

		.cf-accordeon-item__content {}
	}
}

.cf-accordeon-item__heading {
	padding: 0 10px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #AEAEAE;
	font-size: 24px;
	font-weight: 900;
	font-style: normal;
	line-height: 29px;

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {
		font-size: 18px;
		line-height: 22px;
	}

	@media screen and (max-width: 766px) {
		padding-left: 0;
	}

	@media screen and (max-width: 575px) {
		font-size: 16px;
		line-height: 20px;
		padding-left: 17px;
	}
}

.cf-accordeon-cols {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 39px 0px 50px;

	@media screen and (max-width: 1199px) {
		padding: 39px 8px 45px 0;
	}

	@media screen and (max-width: 991px) {
		padding: 45px 57px 50px 0;
	}

	@media screen and (max-width: 766px) {
		padding: 35px 2px 60px 0;
	}

	@media screen and (max-width: 575px) {
		display: block;
		padding: 32px 30px 35px 0;
	}

	&__col {
		width: calc(50% - 21px);
		padding-left: 35px;

		@media screen and (max-width: 1199px) {
			padding-left: 20px;
		}

		@media screen and (max-width: 991px) {
			padding-left: 30px;
		}

		@media screen and (max-width: 766px) {
			padding-left: 20px;
		}

		@media screen and (max-width: 575px) {
			padding-left: 46px;
			width: 100%;
		}

		&+.cf-accordeon-cols__col {
			@media screen and (max-width: 575px) {
				margin-top: 19px;
			}
		}
	}
}

.cf-accordeon__list-title {
	color: rgba(255, 255, 255, 0.8);
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	line-height: 22px;

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {
		font-size: 16px;
		line-height: 20px;
	}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {
		font-size: 12px;
		line-height: 15px;
	}
}

.cf-accordeon-list {
	margin-top: 27px;
	list-style: none;

	@media screen and (max-width: 1199px) {
		margin-top: 25px;
	}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {
		margin-top: -4px;
	}

	&__li {
		list-style: none;
		color: rgba(255, 255, 255, 0.6);
		font-size: 16px;
		font-weight: 500;
		line-height: 26px;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {
			font-size: 14px;
			line-height: 17px;
			margin-top: 14px;
		}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {
			font-size: 10px;
			line-height: 12px;
		}

		&+.cf-accordeon-list__li {
			margin-top: 15px;

			@media screen and (max-width: 1199px) {
				margin-top: 14px;
			}

			@media screen and (max-width: 991px) {}

			@media screen and (max-width: 766px) {}

			@media screen and (max-width: 575px) {
				margin-top: 5px;
			}
		}
	}
}

.course-format-in-course {
	display: block;
	margin-top: 74px;
	list-style: none;

	@media screen and (max-width: 1199px) {
		margin-top: 65px;
	}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}

	&__item {
		position: relative;
		display: block;
		margin-left: 22px;
		list-style: none;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.45);
		font-size: 18px;
		font-weight: 500;
		line-height: 150%;

		@media screen and (max-width: 1199px) {
			font-size: 16px;
			line-height: 143.4%;
			margin-right: -5px;
		}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}

		&::before {
			position: absolute;
			top: 7px;
			left: -22px;
			display: block;
			width: 12px;
			height: 12px;
			content: "";
			border-radius: 50%;
			background: #C4C4C4;

			@media screen and (max-width: 1199px) {
				top: 4px;
			}

			@media screen and (max-width: 991px) {}

			@media screen and (max-width: 766px) {}

			@media screen and (max-width: 575px) {}
		}

		&+.course-format-in-course__item {
			margin-top: 50px;

			@media screen and (max-width: 1199px) {
				margin-top: 25px;
			}

			@media screen and (max-width: 991px) {}

			@media screen and (max-width: 766px) {}

			@media screen and (max-width: 575px) {}
		}
	}
}