.course-author {}

.container--course-author {}

.section-title--course-author {
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.course-author-flex {
	display: flex;
	justify-content: space-between;
	padding-top: 81px;
	padding-bottom: 77px;
	&__info {
		margin-top: 46px;
	}
	&__pic {
		width: 585px;
		min-width: 585px;
		margin-left: 51px;
		filter: drop-shadow(0px 0px 44px rgba(0, 0, 0, 0.31));
		img {
			width: 100%;
			height: auto;
		}
	}
}

.course-author {
	&__desc {
		margin-top: 13px;
		color: rgba(255, 255, 255, 0.6);
		font-size: 24px;
		font-weight: 500;
		line-height: 150%;
	}
	&__message {
		margin-top: 52px;
		color: rgba(255, 255, 255, 0.8);
		font-size: 16px;
		font-weight: 500;
		line-height: 150%;
	}
}

.course-author-advantages {
	display: flex;
	justify-content: space-between;
	width: 471px;
	max-width: 100%;
	margin-top: 25px;
}

.course-author-advantage {
	&__val {
		letter-spacing: 0.05em;
		color: #D1A954;
		font-size: 20px;
		font-weight: 900;
		line-height: 24px;
	}
	&__des {
		margin-top: 6px;
		color: rgba(255, 255, 255, 0.3);
		font-size: 12px;
		font-weight: 500;
		line-height: 140%;
	}
}