.section-faq {
	background: radial-gradient(70.19% 78.06% at 17.48% 17.17%, #191919 0%, #141414 100%);
	background-size: 100% 3000px;

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}

	&__inner {
		background: url(../img/patterns/pattern-olympic.svg) repeat center top;

		padding: 119px 0;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {
			padding: 101px 0;
		}

		@media screen and (max-width: 766px) {
			padding: 71px 0;
		}

		@media screen and (max-width: 575px) {
			padding: 29px 0;}
	}
}

.container--section-faq {
	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}
}

.section-title--section-faq {
	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}
}

.section-faq-main {
	width: 1005px;
	max-width: 100%;
	margin: 70px auto 0;

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {
		margin-top: 59px;
	}

	@media screen and (max-width: 766px) {
		margin-top: 38px;
	}

	@media screen and (max-width: 575px) {
		margin-top: 20px;}

	.cf-accordeon {
		margin-top: 0 !important;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}
}

.cf-accordeon-item--faq {
	&--active {
		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}

	&__top {
		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}

	&__content {
		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}

	.cf-accordeon-item__heading {
		font-weight: 900;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.1em;
		text-transform: uppercase;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {
			font-weight: 900;
			font-size: 14px;
			line-height: 17px;
			/* identical to box height */

			letter-spacing: 0.1em;
		}

		@media screen and (max-width: 766px) {
			font-size: 12px;
			line-height: 150%;
		}

		@media screen and (max-width: 575px) {}
	}
}

.cf-accordeon-answer {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */
	color: rgba(255, 255, 255, 0.6);
	padding: 20px 65px 30px 32px;

	@media screen and (max-width: 1199px) {
		padding: 24px 65px 32px 20px;
	}

	@media screen and (max-width: 991px) {
		padding: 27px 65px 13px 35px;
		font-size: 12px;
		line-height: 150%;
	}

	@media screen and (max-width: 766px) {
		padding: 32px 23px 7px 22px;
	}

	@media screen and (max-width: 575px) {
		padding: 27px 23px 0px 22px;}
}