.site-footer {
	background: #000000;
    padding: 57px 0 54px;
	overflow: hidden;

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}
}


.container--footer {
	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}
}

.footer-flex {
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}
}

.footer-col {
	&--1 {
		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}

	&--2 {
		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}

	&--3 {
		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}

	&--4 {
		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}
}


.footer-logo {
	width: 262px;

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}

	img {
		width: 100%;
		height: auto;
		image-rendering: -webkit-optimize-contrast;
	}
}

.footer-desc {
	font-size: 12px;
	line-height: 15px;
	margin-top: 24px;
	color: rgba(255, 255, 255, 0.3);

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}
}

.foo-contacts {
    margin-top: 31px;

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}
}

.foo-contact {
	display: block;
	margin-top: 15px;

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}

	&__type {
		display: block;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		color: rgba(255, 255, 255, 0.3);

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}

	&__val {
		display: block;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.05em;
		color: #FFFFFF;
		margin-top: 8px;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}

		&:hover {}

		&:active {}

		&:focus {}
	}

	a {
		transition-duration: .3s;

		&:hover {
			opacity: .6;
		}
	}
}

.foo-conf {
    margin-top: 25px;

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}

	&__link {
		display: inline;
		font-weight: 500;
		font-size: 10px;
		line-height: 12px;

		color: #FFFFFF;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}

		&--delimiter {
			display: inline-block;
			margin-right: 3px;
			margin-left: -1px;

			@media screen and (max-width: 1199px) {}

			@media screen and (max-width: 991px) {}

			@media screen and (max-width: 766px) {}

			@media screen and (max-width: 575px) {}
		}
	}
}

.footer-menu-wrap {
	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}
}

.footer-menu {
	list-style: none;
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}

	&__item {
		display: block;
		list-style: none;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}

		&:not(:first-child) {
			margin-top: 31px;

			@media screen and (max-width: 1199px) {}

			@media screen and (max-width: 991px) {}

			@media screen and (max-width: 766px) {}

			@media screen and (max-width: 575px) {}
		}
	}

	a {
		display: block;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.7);

		transition-duration: .3s;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}

		&:hover {
			opacity: .6;
		}

		&:hover {}

		&:active {}

		&:focus {}
	}
}

.footer-socials {
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}
}

.footer-social {
	display: flex;
	align-items: center;
	cursor: pointer;
	transition-duration: .3s;

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}

	&:hover {
		opacity: .6;
	}

	&:not(:first-child) {
		margin-top: 50px;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}

	&__pic {
		width: 40px;
		height: auto;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}

		img {
			width: 100%;
			height: auto;
		}
	}

	&__info {
		margin-left: 14px;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}


	&__name {
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		/* identical to box height */

		letter-spacing: 0.05em;

		color: #FFFFFF;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}

	&__desc {
		margin-top: 3px;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		/* identical to box height */

		letter-spacing: 0.05em;

		color: rgba(255, 255, 255, 0.3);

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}

	&:hover {}

	&:active {}

	&:focus {}
}

.footer-form {
	width: 262px;
	margin-top: -7px;

	@media screen and (max-width: 1199px) {}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}

	&__inp-row {
		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}

		&+.footer-form__inp-row {
			margin-top: 22px;

			@media screen and (max-width: 1199px) {}

			@media screen and (max-width: 991px) {}

			@media screen and (max-width: 766px) {}

			@media screen and (max-width: 575px) {}
		}
	}

	&__inp-wrap {
		display: block;
		position: relative;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: rgba(255, 255, 255, 0.5);
		}
	}

	&__inp {
		width: 100%;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 1;
		padding: 0 0 9px;
		border: none;
		background: none;
		color: #fff;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}

		&::placeholder {
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
			color: rgba(255, 255, 255, 0.3);
		}
	}


	&__btn-wrap {
		margin-top: 53px;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}
	}

	&__btn {

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {}

		&:hover {}

	}
}