.site-footer {
	background: #0f0f0f;
	padding: 57px 0 54px;
	overflow: hidden;
	@media screen and (max-width: 1199px) {}
	@media screen and (max-width: 991px) {
		padding: 40px 0 39px;
	}
	@media screen and (max-width: 766px) {
		padding: 30px 0 30px;
	}
	@media screen and (max-width: 575px) {
		padding: 15px 0 20px;
	}
}

.container--footer {
	@media screen and (max-width: 1199px) {}
	@media screen and (max-width: 991px) {}
	@media screen and (max-width: 766px) {}
	@media screen and (max-width: 575px) {}
}

.footer-flex {
	display: flex;
	justify-content: space-between;
	@media screen and (max-width: 1199px) {}
	@media screen and (max-width: 991px) {}
	@media screen and (max-width: 766px) {
		flex-wrap: wrap;
	}
	@media screen and (max-width: 575px) {}
}

.footer-col {
	@media screen and (max-width: 575px) {
		width: 100%;
	}
	&--1 {
		@media screen and (max-width: 1199px) {}
		@media screen and (max-width: 991px) {
			width: 199px;
		}
		@media screen and (max-width: 766px) {
			width: auto;
			order: 1;
		}
		@media screen and (max-width: 575px) {
			justify-content: center;
		}
	}
	&--2 {
		@media screen and (max-width: 1199px) {}
		@media screen and (max-width: 991px) {}
		@media screen and (max-width: 766px) {
			order: 10;
			width: 100%;
		}
		@media screen and (max-width: 575px) {}
	}
	&--3 {
		@media screen and (max-width: 1199px) {}
		@media screen and (max-width: 991px) {}
		@media screen and (max-width: 766px) {
			order: 4;
		}
		@media screen and (max-width: 575px) {}
	}
	&--4 {
		@media screen and (max-width: 1199px) {}
		@media screen and (max-width: 991px) {}
		@media screen and (max-width: 766px) {
			order: 6;
		}
		@media screen and (max-width: 575px) {}
	}
	&--5 {
		@media screen and (max-width: 766px) {
			order: 8;
			width: 100%;
			text-align: center;
		}
	}
}

.footer-logo {
	width: 262px;
	@media screen and (max-width: 1199px) {}
	@media screen and (max-width: 991px) {
		width: 199px;
		margin-top: 7px;
	}
	@media screen and (max-width: 766px) {
		width: 132px;
		margin-top: 0;
	}
	@media screen and (max-width: 575px) {
		width: 290px;
		max-width: 100%;
		margin: 0 auto;
	}
	img {
		width: 100%;
		height: auto;
		image-rendering: -webkit-optimize-contrast;
	}
}

.footer-desc {
	font-size: 12px;
	line-height: 15px;
	margin-top: 24px;
	color: rgba(255, 255, 255, 0.3);
	@media screen and (max-width: 1199px) {}
	@media screen and (max-width: 991px) {
		margin-top: 14px;
	}
	@media screen and (max-width: 766px) {
		display: none;
	}
	@media screen and (max-width: 575px) {}
}

.foo-contacts {
	margin-top: 31px;
	@media screen and (max-width: 1199px) {}
	@media screen and (max-width: 991px) {
		margin-top: 27px;
	}
	@media screen and (max-width: 766px) {
		margin-top: 30px;
	}
	@media screen and (max-width: 575px) {
		display: none;
	}
}

.foo-contact {
	display: block;
	margin-top: 15px;
	@media screen and (max-width: 1199px) {}
	@media screen and (max-width: 991px) {}
	@media screen and (max-width: 766px) {}
	@media screen and (max-width: 575px) {}
	&__type {
		display: block;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		color: rgba(255, 255, 255, 0.3);
		@media screen and (max-width: 1199px) {}
		@media screen and (max-width: 991px) {}
		@media screen and (max-width: 766px) {}
		@media screen and (max-width: 575px) {}
	}
	&__val {
		display: block;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.05em;
		color: #FFFFFF;
		margin-top: 3px;
		@media screen and (max-width: 1199px) {}
		@media screen and (max-width: 991px) {
			font-size: 12px;
			line-height: 15px;
			letter-spacing: 0.05em;
		}
		@media screen and (max-width: 766px) {
			text-align: center;
			margin-top: 0;
			font-size: 11px;
		}
		@media screen and (max-width: 575px) {}
		&:hover {}
		&:active {}
		&:focus {}
	}
	a {
		transition-duration: .3s;
		&:hover {
			opacity: .6;
		}
	}
}

.foo-conf {
	margin-top: 25px;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	@media screen and (max-width: 1199px) {}
	@media screen and (max-width: 991px) {
		margin-top: 35px;
	}
	@media screen and (max-width: 766px) {
		margin-top: 11px;
	}
	@media screen and (max-width: 575px) {
		margin-top: 30px;
		font-size: 8px;
		line-height: 10px;
	}
	&__link {
		display: inline;
		color: #FFFFFF;
		@media screen and (max-width: 1199px) {}
		@media screen and (max-width: 991px) {}
		@media screen and (max-width: 766px) {}
		@media screen and (max-width: 575px) {}
		&--delimiter {
			display: inline-block;
			margin-right: 3px;
			margin-left: -1px;
			@media screen and (max-width: 1199px) {}
			@media screen and (max-width: 991px) {}
			@media screen and (max-width: 766px) {}
			@media screen and (max-width: 575px) {}
		}
	}
}

.footer-menu-wrap {
	@media screen and (max-width: 1199px) {}
	@media screen and (max-width: 991px) {}
	@media screen and (max-width: 766px) {
		margin-top: 27px;
	}
	@media screen and (max-width: 575px) {
		display: none;
		margin-top: 0;
	}
}

.footer-menu {
	list-style: none;
	display: flex;
	flex-direction: column;
	@media screen and (max-width: 1199px) {}
	@media screen and (max-width: 991px) {}
	@media screen and (max-width: 766px) {
		flex-direction: row;
		justify-content: space-between;
	}
	@media screen and (max-width: 575px) {
		flex-direction: column;
		padding-top: 20px;
		padding-bottom: 7px;
	}
	&__item {
		display: block;
		list-style: none;
		@media screen and (max-width: 1199px) {}
		@media screen and (max-width: 991px) {}
		@media screen and (max-width: 766px) {}
		@media screen and (max-width: 575px) {}
		&:not(:first-child) {
			margin-top: 31px;
			@media screen and (max-width: 1199px) {}
			@media screen and (max-width: 991px) {}
			@media screen and (max-width: 766px) {
				margin-top: 0;
			}
			@media screen and (max-width: 575px) {
				margin-top: 20px;
			}
		}
	}
	a {
		display: block;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.7);
		transition-duration: .3s;
		@media screen and (max-width: 1199px) {}
		@media screen and (max-width: 991px) {}
		@media screen and (max-width: 766px) {}
		@media screen and (max-width: 575px) {
			font-size: 10px;
			line-height: 12px;
			color: rgba(255, 255, 255, 0.8);
			text-align: center;
		}
		&:hover {
			opacity: .6;
		}
		&:hover {}
		&:active {}
		&:focus {}
	}
}

.footer-socials {
	display: flex;
	flex-direction: column;
	@media screen and (max-width: 1199px) {}
	@media screen and (max-width: 991px) {}
	@media screen and (max-width: 766px) {
		flex-direction: row;
		justify-content: center;
	}
	@media screen and (max-width: 575px) {
		justify-content: space-between;
		margin-top: 30px;
	}
}

.footer-social {
	display: flex;
	align-items: center;
	cursor: pointer;
	transition-duration: .3s;
	@media screen and (max-width: 1199px) {}
	@media screen and (max-width: 991px) {}
	@media screen and (max-width: 766px) {}
	@media screen and (max-width: 575px) {}
	&:hover {
		opacity: .6;
	}
	&:not(:first-child) {
		margin-top: 50px;
		@media screen and (max-width: 1199px) {}
		@media screen and (max-width: 991px) {
			margin-top: 64px;
		}
		@media screen and (max-width: 766px) {
			margin-top: 0;
			margin-left: 30px;
		}
		@media screen and (max-width: 575px) {
			margin-left: 0;
		}
	}
	&__pic {
		width: 40px;
		height: auto;
		@media screen and (max-width: 1199px) {}
		@media screen and (max-width: 991px) {
			width: 30px;
		}
		@media screen and (max-width: 766px) {}
		@media screen and (max-width: 575px) {
			width: 20px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&__info {
		margin-left: 14px;
		@media screen and (max-width: 1199px) {
			display: none;
		}
		@media screen and (max-width: 991px) {}
		@media screen and (max-width: 766px) {}
		@media screen and (max-width: 575px) {
			display: block;
			margin-left: 7px;
		}
	}
	&__name {
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		/* identical to box height */
		letter-spacing: 0.05em;
		color: #FFFFFF;
		@media screen and (max-width: 1199px) {}
		@media screen and (max-width: 991px) {}
		@media screen and (max-width: 766px) {}
		@media screen and (max-width: 575px) {
			font-size: 10px;
			line-height: 12px;
			color: rgba(255, 255, 255, 0.8);
			margin-top: 4px;
		}
	}
	&__desc {
		margin-top: 3px;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		/* identical to box height */
		letter-spacing: 0.05em;
		color: rgba(255, 255, 255, 0.3);
		@media screen and (max-width: 1199px) {}
		@media screen and (max-width: 991px) {}
		@media screen and (max-width: 766px) {}
		@media screen and (max-width: 575px) {
			display: none;
		}
	}
	&:hover {}
	&:active {}
	&:focus {}
}

.footer-form {
	width: 262px;
	margin-top: -7px;
	@media screen and (max-width: 1199px) {}
	@media screen and (max-width: 991px) {
		width: 200px;
	}
	@media screen and (max-width: 766px) {}
	@media screen and (max-width: 575px) {}
	&__inp-row {
		@media screen and (max-width: 1199px) {}
		@media screen and (max-width: 991px) {}
		@media screen and (max-width: 766px) {}
		@media screen and (max-width: 575px) {}
		&+.footer-form__inp-row {
			margin-top: 22px;
			@media screen and (max-width: 1199px) {}
			@media screen and (max-width: 991px) {}
			@media screen and (max-width: 766px) {}
			@media screen and (max-width: 575px) {}
		}
	}
	&__inp-wrap {
		display: block;
		position: relative;
		@media screen and (max-width: 1199px) {}
		@media screen and (max-width: 991px) {}
		@media screen and (max-width: 766px) {}
		@media screen and (max-width: 575px) {}
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: rgba(255, 255, 255, 0.5);
		}
	}
	&__inp {
		width: 100%;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 1;
		padding: 0 0 9px;
		border: none;
		background: none;
		color: #fff;
		@media screen and (max-width: 1199px) {}
		@media screen and (max-width: 991px) {}
		@media screen and (max-width: 766px) {}
		@media screen and (max-width: 575px) {}
		&::placeholder {
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
			color: rgba(255, 255, 255, 0.3);
		}
	}
	&__btn-wrap {
		margin-top: 53px;
		@media screen and (max-width: 1199px) {}
		@media screen and (max-width: 991px) {}
		@media screen and (max-width: 766px) {}
		@media screen and (max-width: 575px) {}
	}
	&__btn {
		@media screen and (max-width: 1199px) {}
		@media screen and (max-width: 991px) {}
		@media screen and (max-width: 766px) {}
		@media screen and (max-width: 575px) {}
		&:hover {}
	}
}

.foo-btn-sign-up-m-wrap {
	@media screen and (max-width: 766px) {}
	@media screen and (max-width: 575px) {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
	}
}

.foo-btn-sign-up-m {
	@media screen and (max-width: 766px) {
		font-size: 12px;
		line-height: 15px;
		padding: 9px 23px 8px;
		text-transform: uppercase;
	}
	@media screen and (max-width: 575px) {
		text-transform: none;
		font-size: 12px;
		line-height: 15px;
		padding: 10px 0;
		width: calc(50% - 15px);
	}
}

.footer-menu-opener {
	display: none;
	@media screen and (max-width: 575px) {
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		padding: 9px 0 7px;
		margin-top: 29px;
		cursor: pointer;
		svg {
			width: 15px;
			height: auto;
			transition-duration: .3s;
		}
		span {
			font-weight: 500;
			font-size: 10px;
			line-height: 12px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: rgba(255, 255, 255, 0.7);
			margin-left: 5px;
			margin-top: 2px;
		}
		&--open {
			svg {
				transform: rotate(180deg);
			}
		}
	}
}

.footer-menu-after-m {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}