input,
button,
textarea {
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
	outline: none;
	font-size: inherit;
	background: transparent;
}

* {
	box-sizing: border-box;
}

a,
a:hover {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

textarea {
	resize: none;
}

a {
	color: inherit;
}


body {
	display: flex;
	flex-direction: column;
	margin: 0;
	color: #323340;
	background: #ffffff;
	font-family: $mainFont;
	font-size: 16px;

	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: rgba(255, 255, 255, 0.6);

}

.main {
	flex-grow: 1;
}

html,
body {
	height: 100%;
}

.container {
	box-sizing: border-box;
	width: 1140px;
	max-width: 95%;
	max-width: calc(100% - 30px * 2);
	margin: 0 auto;
}

@media screen and (max-width: 767px) {
	.container {
		max-width: calc(100% - 15px * 2);
	}
}

#jGrowl {
	z-index: 999999;
}

*:focus {
	outline: none;
}

.hide {
	display: none;
}

body {
	position: relative;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;

	-webkit-locale: auto;
	white-space: normal;

	&.compensate-for-scrollbar {
		overflow: hidden;
	}
}

.dark-bg-for-menu {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition-duration: .6s;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	pointer-events: none;
	z-index: 50;
}

.body-locked {
	overflow: hidden;

	.dark-bg-for-menu {
		opacity: 1;
		pointer-events: all;
	}
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	background: #212121;
}

.outer-container {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}

.btn {
	display: inline-flex;
	text-align: center;
	justify-content: center;
	align-items: center;

	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	transition-duration: .2s;
	cursor: pointer;

	&:hover {
		opacity: .5;
	}
}

.btn--square {
	-webkit-appearance: none;
	appearance: none;
	background: #D1A954;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	padding: 13px 18px 12px;
}

.btn--square--transparent-dark {
	border: 1px solid rgba(255, 255, 255, 0.4);
	background: transparent;
}

.btn--dashed {
	-webkit-appearance: none;
	appearance: none;
	padding: 5px;
	padding: 13px 0 12px;

	color: rgba(255, 255, 255, 1);

	position: relative;

	&::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		background: rgba(209, 169, 84, 0.7);
	}

}


.dd1,
.dd2,
.dt1,
.dt2,
.dm1 {
	display: none;
}


@media screen and (min-width: 1200px) {
	.dd1 {
		display: block;
	}

	.nbspd1 {
		white-space: nowrap;
	}
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
	.dd2 {
		display: block;
	}

	.nbspd2 {
		white-space: nowrap;
	}
}

@media screen and (max-width: 991px) and (min-width: 767px) {
	.dt1 {
		display: block;
	}

	.nbspt1 {
		white-space: nowrap;
	}
}

@media screen and (max-width: 766px) and (min-width: 576px) {
	.dt2 {
		display: block;
	}

	.nbspt2 {
		white-space: nowrap;
	}
}

@media screen and (max-width: 575px) {
	.dm1 {
		display: block;
	}

	.nbspm1 {
		white-space: nowrap;
	}
}

@media screen and (min-width: 576px) {
	.hidenomob {
		display: none;
	}
}

section {
	overflow: hidden;
}

.container.top-btn-wrap {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 75px;
	z-index: 15;

}



.top-btn {
	position: absolute;
	right: -70px;
    bottom: 2px;
	transition-duration: .5s;
	opacity: 0;
	width: 38px;
	pointer-events: none;

	@media screen and (max-width: 1330px) {
		right: 0;
	}

	&--show {
		opacity: 1;
		pointer-events: all;
	}

	svg {
		width: 100%;
		display: block;
		height: auto;
		filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
		cursor: pointer;
		position: absolute;
		right: 0;
		bottom: 0;
		transition-duration: .3s;
	}

	&:hover {
		svg {
			opacity: .4;
		}
	}
}

body::-webkit-scrollbar {
	width: 5px;
	background-color: #f3f3f3;
}

body::-webkit-scrollbar-thumb {
	background-color: #D1A954;

}

.iti__flag {
	width: 19px;
	box-shadow: 0 0 1px 0 #888;
	background-repeat: no-repeat;
	background: #000000;
	background-position: 20px 0;

	&.iti__by {
		height: 19px;
		background: url(../img/by.svg);
	}

	&.iti__kz {
		height: 19px;
		background: url(../img/kz.svg);
	}

	&.iti__ru {
		height: 19px;
		background: url(../img/ru.svg);
	}

	&.iti__ua {
		height: 19px;
		background: url(../img/ua.svg);
	}

	&.iti__by,
	&.iti__kz,
	&.iti__ru,
	&.iti__ua {
		height: 12px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}




.iti__arrow {
	border: none !important;
	width: 9px;
	height: 7px;
	background: url(../img/dropbox-arrow.svg) no-repeat center center;
	background-size: contain;
	transition-duration: .2s;

}

.iti__arrow--up {
	transform: rotate(180deg);
}

.iti.iti--allow-dropdown {
	width: 100%;
}
.secform-inp.js-phone-inp{
	padding-left: 75px !important;
}
.iti__selected-flag {
	padding-left: 0;
	padding-right: 0;
	padding: 6px 0 8px;width: 75px;

	.iti__flag {
		margin-left: 0;
		margin-top: -2px;
	}
}
.iti__flag {}

.iti__flag-container {
	&::before {}
}


.iti__flag-container {
	position: absolute;
	bottom: 0;
	right: 0 !important;
	left: 0;
	height: 0 !important;
}

.iti__country-list {
	overflow: hidden;
	width: 100%;
	max-width: 262px;
	margin-top: 8px;
	background: #323232;
	border: none;
	padding: 16px 0;
	border-radius: 1px;
	transition-duration: .2s;

	&.iti__hide {
		display: block;
		opacity: 0;
		pointer-events: none;
	}
}

.iti__country {
	display: flex;
	align-items: center;
	padding: 6px 20px;
	text-decoration: 0.2s;

	.iti__flag {
		margin-left: 7px;
	}
}

.iti__country.iti__highlight {
	background: #444444;

}

.iti__highlight {}


.iti__flag-box {
	order: 9;
}

.iti__country-name {
	flex-grow: 1;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 100%;
	color: rgba(255, 255, 255, 0.9);


}

.iti__dial-code, .iti--separate-dial-code .iti__selected-dial-code {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 100%;
	color: rgba(255, 255, 255, 0.9);
}




.make-call-btn{
	cursor: pointer;
	transition-duration: .25s;
	&:hover{
		opacity: .7;
	}
	&__art{
		display: block;
		width: 60px;
		height: auto;
	}
	&__name{
		font-weight: 500;
		font-size: 10px;
		line-height: 121.5%;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #D1A954;
		margin-top: 6px;
		width: 60px;
	}
	position: absolute;
    bottom: 0;
    left: -93px;
	@media screen and (max-width:1366px){
		left: 0;
	}
}