.container--main-banner {
	padding-top: 30px;
	padding-bottom: 89px;

	@media screen and (max-width: 1199px) {
		padding-top: 74px;
	}



	@media screen and (max-width: 991px) {
		padding-top: 43px;
		padding-bottom: 114px;
	}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {
		padding-top: 6px;
		padding-bottom: 25px;
	}
}

.main-banner {
	overflow: hidden;
}

.main-banner-flex {
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 1199px) {}


	@media screen and (max-width: 991px) {
		justify-content: center;
	}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}
}

.main-banner-info {
	padding-top: 69px;
	max-width: 100%;

	@media screen and (max-width: 1199px) {
		padding-top: 25px;
	}



	@media screen and (max-width: 991px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {
		padding-top: 0;
	}

	&__h1 {
		letter-spacing: 0.15em;
		text-transform: uppercase;
		//color: transparent;
		color: #dbb447;
		background-image: radial-gradient(#E5C03A, #D1A954);
		-webkit-background-clip: text;
		background-clip: text;
		font-size: 36px;
		font-weight: 900;
		font-style: normal;
		line-height: 48px;
		-webkit-text-fill-color: transparent;

		@media screen and (max-width: 1199px) {
			font-size: 31px;
			letter-spacing: 0.15em;
			line-height: 134.4%;

		}



		@media screen and (max-width: 991px) {
			text-align: center;
		}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {
			font-size: 18px;

		}
	}

	&__desc {
		margin-top: 20px;

		@media screen and (max-width: 1199px) {
			font-size: 14px;
			line-height: 144%;
			margin-top: 19px;
		}



		@media screen and (max-width: 991px) {
			margin-top: 18px;
			text-align: center;
			width: 483px;
			max-width: 100%;
		}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {
			font-size: 12px;
			line-height: 142%;
			margin-top: 20px;
		}
	}

	&__buttons {
		display: flex;
		justify-content: flex-start;
		margin-top: 55px;
		margin-left: -56px;


		@media screen and (max-width: 1199px) {
			margin-top: 62px;
		}



		@media screen and (max-width: 991px) {}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {
			align-items: center;
			margin-top: 37px;
			margin-left: -10px;
			width: calc(100% + 10px);
			justify-content: space-between;
		}

		.btn {
			margin-left: 56px;

			@media screen and (max-width: 1199px) {}



			@media screen and (max-width: 991px) {}

			@media screen and (max-width: 766px) {}

			@media screen and (max-width: 575px) {
				margin-left: 10px;
			}
		}
	}
}

.main-banner-advantages {
	max-width: 511px;
	margin-top: 88px;
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 1199px) {
		width: 480px;
		max-width: 100%;
		margin-top: 104px;
	}

	@media screen and (max-width: 991px) {
		width: 479px;
		max-width: 100%;
	}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {
		flex-wrap: wrap;
		margin-top: 54px;
		margin-bottom: -29px;
		padding: 0 8px;
	}
}

.main-banner-advantage {
	width: 125px;


	@media screen and (max-width: 1199px) {
		width: auto;
	}

	@media screen and (max-width: 991px) {}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {
		&:first-child {
			width: 100%;
		}

		margin-bottom: 29px;
	}

	&__val {
		font-weight: 900;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.05em;
		color: #D1A954;

		@media screen and (max-width: 1199px) {}

		@media screen and (max-width: 991px) {
			text-align: center;
		}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {
			font-size: 14px;
			line-height: 17px;
		}
	}

	&__desc {
		margin-top: 8px;
		font-size: 12px;
		line-height: 140%;

		@media screen and (max-width: 1199px) {}



		@media screen and (max-width: 991px) {
			text-align: center;
		}

		@media screen and (max-width: 766px) {}

		@media screen and (max-width: 575px) {
			font-size: 10px;
			line-height: 140%;
			margin-top: 7px;
		}
	}
}

.main-banner-pic {
	width: 551px;
	min-width: 551px;
	margin-right: 2px;
	margin-left: 40px;
	margin-bottom: -91px;


	@media screen and (max-width: 1199px) {
		width: 512px;
		min-width: 512px;
		margin-left: 0px;
		margin-right: -2px;
	}



	@media screen and (max-width: 991px) {
		display: none !important;
	}

	@media screen and (max-width: 766px) {}

	@media screen and (max-width: 575px) {}

	img {
		width: 100%;
		height: auto;
	}
}